.navbar a.links{
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar a.links:hover {
    color: #cecece;
    text-decoration: underline;
  }
.navbar button.exitBtn{
    background-color: #f5f5f5;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.navbar button.exitBtn:hover {
    background-color: #e6e6e6;
    }


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #686b73;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5em
};






